.header{background-color: rgb(59, 113, 134);}

.jaje {
    color: rgb(173, 123, 15);
    padding: 4.5rem;
    font-size: 3.8rem;
    border: 61px solid #f0f0f0;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }